<!doctype html>
<html lang="en">
  <%- include ("includes/header.ejs") %>
  </head>
  <body>
    <%- include ("includes/navbar.ejs") %>  
<h1>Update page</h1>

<form action="/listproducts/update" method="post">
    <div class="mb-3">
        <label  class="form-label">Enter Old Name</label>
        <input type="text" class="form-control" name="oldName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label  class="form-label">Enter Updated Name</label>
        <input type="text" class="form-control" name="updatedName">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
    <%- include ("includes/end.ejs") %>